@import url('https://fonts.googleapis.com/css?family=Play:400,700|Roboto+Mono:300,300i,400,700&display=swap');
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
h2,
p,
h3,
li {
  font-family: 'Roboto Mono', monospace;
}
.Title--wrapper {
  display: flex;
  justify-content: space-between;
  font-family: 'Play', sans-serif;
  position: fixed;
  width: 100%;
  padding: 20px 40px;
  background: #fff;
  color: #eea508;
  align-items: center;
  box-shadow: 0px 5px 6px 0px #b3b3b3b3;
}
.Home--wrapper {
  margin-top: 120px;
}
.Pagination--container {
  margin: 0 auto;
  text-align: center;
}

.characters--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.CharCard {
  width: 250px;
  height: 350px;
  margin: 10px 10px;
  box-shadow: 5px 8px 5px 0px #616161b3;
}
.CharCard--img {
  width: 100%;
  height: 250px;
}
.CharCard--subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #eea508;
  padding: 10px 10px;
  height: 100px;
}
.CharCard--subtitle em {
  display: block;
  font-size: .8rem;
  margin: 10px 0;
}

.fas {
  color: grey;
  font-size: 2rem;
}

.CharShow--wrapper {
  padding: 150px 20px 20px 20px;
}
.CharShow--idContainer {
  width: 100%;
}
.CharShow--img {
  display: block;
  margin: 0 auto;
  width: 80vw;
  border: 5px solid #eea508;
}
.CharShow--idText {
  width: 80vw;
  padding: 20px 20px;
}
.CharShow--idText p,
.CharShow--idText li {
  font-size: .8rem;
}
.CharShow--description {
  padding: 10px 0;
}
.CharShow--statTitle {
  padding: 10px 0;
}
.CharShow--stat {
  padding-bottom: 5px;
}
.CharShow--stats {
  padding: 5px 5px;
}

.CharShow--lists {
  padding: 0 20px;
}

.CharShow--lists h3 {
  padding-top: 30px;
  padding-bottom: 20px;
}
.CharShow--back {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .Home--wrapper {
    margin-top: 100px;
  }
  .CharShow--wrapper {
    padding-top: 100px;
  }
  .CharShow--idContainer {
    display: flex;
    flex-direction: row;
  }
  .CharShow--img {
    width: 50vw;
  }
  .CharShow--idText {
    width: 50vw;
  }
  .CharShow--idText p,
  .CharShow--idText li {
    font-size: 1rem;
  }
  .CharShow--lists {
    display: flex;
  }
  .CharShow--lists h3 {
    width: 30vw;
  }
}
