@import url('https://fonts.googleapis.com/css?family=Play:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}
.characters--wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.filter {
  width: 200px;
  margin: 20px auto;
  padding: 20px 20px;
}

.CharCard {
  width: 250px;
  height: 350px;
  margin: 10px 10px;
}
.CharCard--img {
  width: 100%;
  height: 250px;
}
.CharCard--subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #eea508;
  padding: 10px 10px;
  height: 100px;
}
.CharCard--subtitle em {
  display: block;
  font-size: .8rem;
  margin: 10px 0;
}

.Pagination--container {
  margin: 0 auto;
}
